@model MyWeb.Models.Student

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_adminLTE.cshtml";
}

<h2>Chi tiết</h2>

<div>
    <h4>Học sinh</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.age)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Quay lại danh sách", "Index")
</p>
